mat-card-content {
    display: flex;
    justify-content: space-around;
}

.dashboard-card {
    width: 100%;
    background-color: #673ab7;
}
.dashboard-title {
    text-align: center;
    color: whitesmoke;
}