<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
    <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.product.name }}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>
    <ng-container matColumnDef="subtotal">
    <th mat-header-cell *matHeaderCellDef>SubTotal</th>
    <td mat-cell *matCellDef="let element">{{ (element.quantity * element.product.price) | currency }}</td>
    </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element" class="action-link">
      <button
        mat-icon-button
        matTooltip="Delete"
        (click)="deleteProductHandler(element)"
        color="warn"
      >
        <mat-icon> delete </mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data</td>
  </tr>
</table>
