<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>{{ actionName }} TABLE</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Enter with description of table</mat-label>
    <input matInput [formControl]="description" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter with the table number</mat-label>
    <input
      matInput
      [formControl]="number"
      type="number"
      (blur)="updateErrorMessage()"
      required
    />
    @if (number.invalid) {
      <mat-error>{{ errorMessage }}</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="addTableHandler()" [disabled]="number.invalid">
      <mat-icon>save</mat-icon> SAVE
    </button>
    <button mat-raised-button mat-dialog-close color="warn">
      <mat-icon>cancel</mat-icon> CLOSE
    </button>
</mat-dialog-actions>
